body {
    text-align: center;
    font-size: 16px;
    width: 100%;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1200px;
    height: 1200px;
    border: 1px solid black;
    margin: 0 auto;
}

.cellBox {
  border: 1px solid black;
}

.resetButton {
    border: 1px solid grey;
    height: 40px;
    width: 120px;
    margin: 20px auto;
    line-height: 40px;
    border-radius: 10px;
    background: lightgray;
}

.resetButton:hover {
    background-color: darkgray;
    color:white;
}